<a href="https://colab.research.google.com/github/DonghaeSuh/NLP_tensorflow2/blob/main/append()%26functools_reduce().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
a="abc"
b="def"

In [9]:
r=[]
r_2=[]

In [10]:
r.append(a)
r.append(b)
r

['abc', 'def']

In [11]:
r_2.append([x for x in r if x])
print(r_2)
r_2.append([x for x in r if x])
print(r_2)

[['abc', 'def']]
[['abc', 'def'], ['abc', 'def']]

In [20]:
t1 = ([['1 11.','2 22.'],['a aa.','b bb.']],['3 33.','4 44.'],['5 55.','6 66.'])
t2 = ([['7 77.','8 88.'],['c cc.','d dd.']],['9 99.','10 1010.'],['11 1111.','12 1212.'])

In [21]:
[t1,t2]

[([['1 11.', '2 22.'], ['a aa.', 'b bb.']],
  ['3 33.', '4 44.'],
  ['5 55.', '6 66.']),
 ([['7 77.', '8 88.'], ['c cc.', 'd dd.']],
  ['9 99.', '10 1010.'],
  ['11 1111.', '12 1212.'])]

In [17]:
from functools import reduce

In [5]:
flatten = lambda data: reduce(lambda x, y: x + y, data)

In [22]:
for a,b,c in [t1,t2]:
  print(a)
  for i in a:
    print(i)

[['1 11.', '2 22.'], ['a aa.', 'b bb.']]
['1 11.', '2 22.']
['a aa.', 'b bb.']
[['7 77.', '8 88.'], ['c cc.', 'd dd.']]
['7 77.', '8 88.']
['c cc.', 'd dd.']

In [26]:
import re

In [34]:
def tokenize(sent):
    return [ x.strip() for x in re.split('(\W+)', sent) if x and x.strip()]

In [35]:
for a,b,c in [t1,t2]:
  print(a)
  for i in a:
    print(i)
    i=flatten(i)
    print(i)
    print(type(i))
    i=tokenize(i)
    print(i)
    print()

[['1 11.', '2 22.'], ['a aa.', 'b bb.']]
['1 11.', '2 22.']
1 11.2 22.
<class 'str'>
['1', '11', '.', '2', '22', '.']

['a aa.', 'b bb.']
a aa.b bb.
<class 'str'>
['a', 'aa', '.', 'b', 'bb', '.']

[['7 77.', '8 88.'], ['c cc.', 'd dd.']]
['7 77.', '8 88.']
7 77.8 88.
<class 'str'>
['7', '77', '.', '8', '88', '.']

['c cc.', 'd dd.']
c cc.d dd.
<class 'str'>
['c', 'cc', '.', 'd', 'dd', '.']

In [9]:
for a,b,c in [t1,t2]:
  print(b)
  for i in b:
    print(i)

['3', '4']
3
4
['9', '10']
9
10

In [11]:
for a,b,c in [t1,t2]:
  print(c)
  for i in c:
    print(i)

['5', '6']
5
6
['11', '12']
11
12